.market{
    height: 100vh;
    width: 100%;
    background-image: url('../../media/images/storage-room.jpg');
    background-size: cover;
    position: absolute;
    top: 0;
    z-index: -3;
    opacity: 0;
    animation: appear 1s forwards;
    display: flex;
    flex-direction: row;
}

.menu{
    margin: 4rem 0 4rem;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: solid 1px gray;
    position: relative;
    z-index: 0;
}

.menu-background{
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
}

.options{
    margin-top: 25%;
}

.menu-item{
    margin-bottom: 4rem;
    color: gold;
    cursor: pointer;
    transition: all .5s;
    &:hover{
        color: rgb(149, 20, 20);
    }
    z-index: 2;
}

.menu-item-selected{
    margin-bottom: 4rem;
    color: rgb(149, 20, 20);
    cursor: pointer;
    transition: all .5s;
}

.cart{
    margin-top: 25%;
}

.display{
    width: 65%;
    margin: 4rem 0 4rem;
}

@keyframes appear {

    100%{
        opacity: 1;
    }
    
  }